@import "@fontsource-variable/inter";
@import "@fontsource-variable/playfair-display";
@import "@fontsource-variable/playfair-display/wght-italic.css";
@import "tailwindcss";

@layer base {
  button {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }
}
