@import "tailwindcss";

@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("/fonts/inter-latin-standard-normal.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Playfair Display Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 400 900;
  src: url("/fonts/playfair-display-latin-wght-normal.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Playfair Display Variable";
  font-style: italic;
  font-display: swap;
  font-weight: 400 900;
  src: url("/fonts/playfair-display-latin-wght-italic.woff2")
    format("woff2-variations");
}

@layer base {
  button {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }
}
